@model LotusCatering.Web.ViewModels.Items.ItemAddInputModel
@{
    ViewData["Title"] = "Admin Panel";
    var tabs = Model.Tabs.Select(x => new SelectListItem(x.Name, x.Id));
}

<form method="post" class="admin-form" asp-action="Add" enctype="multipart/form-data">
    <hr />
    <h1>Добави продукт</h1>
    <hr />
    <div asp-validation-summary="All" class="notification"></div>
    <div>
        <label asp-for="Name">Име на продукт</label>
        <input asp-for="Name">
    </div>
    <div>
        <label asp-for="Price">Цена</label>
        <input asp-for="Price" type="number" step="0.1" placeholder="0.00" value="0">
    </div>
    <div>
        <label asp-for="Description">Описание</label>
        <textarea asp-for="Description" oninput="auto_grow(this)"></textarea>
    </div>
    <div>
        <label asp-for="Image">Снимка</label>
        <input asp-for="Image" accept="image/*" required>
    </div>
    @if (Model.TabId == null)
    {
        <div>
            <label asp-for="TabId">Подкатегория</label>
            <select asp-for="TabId" asp-items="tabs"></select>
        </div>
    }
    else
    {
        <input asp-for="TabId" hidden>
    }
    <div>
        <button class="form-button" type="submit">Добави</button>
    </div>
</form>