
@{
    ViewData["Title"] = "Admin Panel";
}

<hr />
<h1>Панел за продукти</h1>
<hr />
<a asp-controller="Items" asp-action="Add" asp-area="Administration" class="full-size-box max-width">Добави продукт</a>
<a asp-controller="Items" asp-action="Edit" asp-area="Administration" class="full-size-box max-width">Редактирай продукт</a>
<a asp-controller="Items" asp-action="EditImage" asp-area="Administration" class="full-size-box max-width">Редактирай снимка на продукт</a>
<a asp-controller="Items" asp-action="Delete" asp-area="Administration" class="full-size-box max-width">Премахни продукт</a>
