@{
    ViewData["Title"] = "Admin Panel";
}

<hr />
<h1>Панел за категории</h1>
<hr />
<a asp-controller="Categories" asp-action="Add" asp-area="Administration" class="full-size-box max-width">Добави категория</a>
<a asp-controller="Categories" asp-action="Edit" asp-area="Administration" class="full-size-box max-width">Редактирай категория</a>
<a asp-controller="Categories" asp-action="EditImage" asp-area="Administration" class="full-size-box max-width">Редактирай снимка на категория</a>
<a asp-controller="Categories" asp-action="Delete" asp-area="Administration" class="full-size-box max-width">Премахни категория</a>
