<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AnisMasterpieces</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<body>
    <header>
        <div class="logo-wrapper">
            <a href="/home">
                <img src="~/images/logo.png" alt="Logo">
            </a>
        </div>
        <nav>
            <ul class="center-align">
                <li><i class="fas fa-exclamation-triangle"></i> Солени хапки</li>
                <li><i class="fas fa-exclamation-triangle"></i> Сладки хапки</li>
                <li><i class="fas fa-exclamation-triangle"></i> Галерия</li>
                <li><i class="fas fa-exclamation-triangle"></i> Контакти</li>
            </ul>
            <ul class="right-align secondHeader hidden">
                <li><i class="fas fa-shopping-cart"> Количка</i></li>
                <li><i class="fas fa-user"> Профил</i></li>
            </ul>
            <partial name="_LoginPartial" />
            <ul class="right-align secondHeader">
                <li><i class="fas fa-poo"></i> Вход</li>
                <li><i class="fas fa-poo"></i> Регистрация</li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
            &copy; 2020 - AnisMasterpieces - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
