@using AnisMasterpieces.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="right-align secondHeader">
    @if (!this.SignInManager.IsSignedIn(this.User))
    {
        <li>
            <a asp-area="Identity" asp-page="/Account/Login"><i class="fas fa-poo"></i>Вход</a>
        </li>
        <li>
            <a asp-area="Identity" asp-page="/Account/Register"><i class="fas fa-poo"></i>Регистрация</a>
        </li>
    }
    else
    {
        <li>
            <a asp-area="Profile" asp-page="/Cart"><i class="fas fa-shopping-cart"></i>Количка</a>
        </li>
        <li>
            <a asp-area="Profile" asp-page="/"><i class="fas fa-user"></i>Профил</a>
        </li>
        <li>
            <a asp-area="Identity" asp-page="/Account/Logout"><i class="fas fa-poo"></i>Изход</a>
        </li>
    }
</ul>
