@using AnisMasterpieces.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="right-align secondHeader show-block">
    @if (!this.SignInManager.IsSignedIn(this.User))
    {
        <li>
            <a asp-area="Identity" asp-page="/Account/Login"><i class="fas fa-poo"></i>Вход</a>
        </li>
        <li>
            <a asp-area="Identity" asp-page="/Account/Register"><i class="fas fa-poo"></i>Регистрация</a>
        </li>
    }
    else
    {
        <li>
            <a asp-area="Profile" asp-page="/Cart"><i class="fas fa-shopping-cart"></i>Количка</a>
        </li>
        <li>
            <a asp-area="Profile" asp-page="/"><i class="fas fa-user"></i>Профил</a>
        </li>
        <li>
            <form  asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                <a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))"><i class="fas fa-poo"></i>Изход</a>
            </form>
        </li>
    }
</ul>
