<li>
    <a asp-area="Identity" asp-page="/Account/Login"><i class="fas fa-poo"></i>Вход</a>
</li>
<li>
    <a asp-area="Identity" asp-page="/Account/Register"><i class="fas fa-poo"></i>Регистрация</a>
</li>