@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h1>Настройки</h1>

<div>
    <hr />
    <div class="oneline-flex">
        <div class="settings-div">
            <partial name="_ManageNav" />
        </div>
        <div>
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
