@page
@model Disable2faModel
@{
    ViewData["Title"] = "Изключване на 2FA";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h2>@ViewData["Title"]</h2>

<div class="alert warning" role="alert">
    <p>
        Излючвайки 2FA няма да промени ключовете в приложението. Ако желаете да промените ключовете използвани в проложението 
        <a asp-page="./ResetAuthenticator"> можете да го направите от ТУК.</a>
    </p>
</div>

<div>
    <form method="post">
        <button class="form-button error" type="submit">Изключване на 2FA</button>
    </form>
</div>
