@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Забравена парола?";
}

<h1>@ViewData["Title"]</h1>
<h4>Въведете своята поща.</h4>
<hr />
<div>
    <div>
        <form method="post">
            <div asp-validation-summary="All"></div>
            <div>
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email"/>
                <span asp-validation-for="Input.Email"></span>
            </div>
            <button type="submit" class="form-button">Изпрати</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
