@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Смени парола";
}

<h1>@ViewData["Title"]</h1>
<p>
    Паролата ви беше сменена! Моля, <a asp-page="./Login">цъкнете тук.</a>.
</p>
