@model LotusCatering.Web.ViewModels.Purchase.PurchaseHistoryViewModel
@{
    ViewData["Title"] = "Извършени покупки";
}

<div class="center-align">
    <h1>Извършени покупки</h1>
    @foreach (var order in Model.Orders)
    {
        <div class="full-size-box max-width">
            <h2>
                <a asp-action="Id" asp-route-id="@order.Id">
                    <span><strong>@order.Id</strong></span>
                    <span>@order.PaymentDate.ToString("dd/MM/yyyy")</span>
                    <span>@order.TotalPrice.ToString("0.00 лв.")</span>
                </a>
            </h2>
        </div>
    }
</div>

