@model AnisMasterpieces.Web.ViewModels.NavBar.NavBarViewModel
@using AnisMasterpieces.Services;

@foreach (var category in Model.Categories)
{
    <li>
        <a asp-area=@null asp-controller="Categories" asp-action="Id" asp-route-id=@category.Id asp-route-title="@ConvertService.CyrillicToLatin(category.Name, true)">
            <i class="fas fa-exclamation-triangle"></i>
            @category.Name
        </a>
    </li>
}
<li>
    <i class="fas fa-exclamation-triangle"></i> Галерия
</li>
<li>
    <i class="fas fa-exclamation-triangle"></i> Контакти
</li>