@model LotusCatering.Web.ViewModels.Categories.CategoryAddInputModel
@{
    ViewData["Title"] = "Admin Panel";
}

<form method="post" class="admin-form" asp-action="Add" enctype="multipart/form-data">
    <hr />
    <h1>Добави категория</h1>
    <hr />
    <div asp-validation-summary="All" class="notification"></div>
    <div>
        <label asp-for="Name">Име на категория</label>
        <input asp-for="Name">
    </div>
    <div>
        <label asp-for="Description">Описание</label>
        <textarea asp-for="Description" oninput="auto_grow(this)"></textarea>
    </div>
    <div>
        <label asp-for="Image">Снимка</label>
        <input asp-for="Image" accept="image/*" required>
    </div>
    <div>
        <button class="form-button" type="submit">Добави</button>
    </div>
</form>