@model LotusCatering.Web.ViewModels.Categories.CategoryDeleteViewModel
@using LotusCatering.Common;
@{
    ViewData["Title"] = "Admin Panel";
}

<form method="post" class="admin-form" asp-action="Delete" enctype="multipart/form-data">
    <hr />
    <h1>Изтрий категория</h1>
    <hr />
    <div asp-validation-summary="All" class="notification"></div>
    <div>
        <input asp-for="Id" hidden>
    </div>
    <div>
        <label asp-for="Name">Име на категория</label>
        <input asp-for="Name" disabled>
    </div>
    <div>
    <div>
        <label asp-for="Description">Описание</label>
        <textarea asp-for="Description" oninput="auto_grow(this)" disabled></textarea>
    </div>
    <div>
        <label asp-for="ImageUrl">Снимка</label>
        <img src="@string.Format(GlobalConstants.CloudUrlTemplate, Model.ImageUrl)" class="half-width oval-img">
    </div>
    <div>
        <button class="form-button" type="submit">Изтрий</button>
    </div>
</form>