@{
    ViewData["Title"] = "Administration";
}

<h1>Главен Панел</h1>
<a href="#" class="full-size-box max-width">Добави категория</a>
<a href="#" class="full-size-box max-width">Добави подкатегория</a>
<a href="#" class="full-size-box max-width">Добави продукт</a>


