@{
    ViewData["Title"] = "Admin Panel";
}

<hr />
<h1>Главен Панел</h1>
<hr />
<a asp-controller="Categories" asp-action="Index" asp-area="Administration" class="full-size-box max-width disabled">Категория панел</a>
<a asp-controller="Tabs" asp-action="Index" asp-area="Administration" class="full-size-box max-width">Подкатегория панел</a>
<a asp-controller="Items" asp-action="Index" asp-area="Administration" class="full-size-box max-width">Продукт панел</a>