@{
    ViewData["Title"] = "Admin Panel";
}

<h1>Панел за подкатегория</h1>
<a asp-controller="Tabs" asp-action="Add" asp-area="Administration" class="full-size-box max-width">Добави подкатегория</a>
<a asp-controller="Tabs" asp-action="Update" asp-area="Administration" class="full-size-box max-width">Редактирай подкатегория</a>
<a asp-controller="Tabs" asp-action="Remove" asp-area="Administration" class="full-size-box max-width">Премахни подкатегория</a>