
@{
    ViewData["Title"] = "Admin Panel";
}

<h1>Панел за продукти</h1>
<a asp-controller="Items" asp-action="Add" asp-area="Administration" class="full-size-box max-width">Добави продукт</a>
<a asp-controller="Items" asp-action="Update" asp-area="Administration" class="full-size-box max-width">Редактирай продукт</a>
<a asp-controller="Items" asp-action="Remove" asp-area="Administration" class="full-size-box max-width">Премахни продукт</a>
