@{
    ViewData["Title"] = "Admin Panel";
}

<hr />
<h1>Панел за подкатегория</h1>
<hr />
<a asp-controller="Tabs" asp-action="Add" asp-area="Administration" class="full-size-box max-width">Добави подкатегория</a>
<a asp-controller="Tabs" asp-action="Edit" asp-area="Administration" class="full-size-box max-width">Редактирай подкатегория</a>
<a asp-controller="Tabs" asp-action="Delete" asp-area="Administration" class="full-size-box max-width">Премахни подкатегория</a>