@model LotusCatering.Web.ViewModels.Galleries.GalleryIdViewModel
@using LotusCatering.Common
@{
    ViewData["Title"] = "Галерия";
}

<h1>Галерия</h1>
<hr />
<div id="main-images">
    @foreach (var image in Model.Images)
    {
        <img src="@string.Format(GlobalConstants.CloudUrlTemplate, image.ImageUrl)" alt="@image.Name" class="myImg" />
    }
</div>

<div id="full-screen">
    <img src="" alt="" />
</div>

@section scripts {
    <script>
        $('#full-screen').css('height', $(document).outerWidth() + 'px');

        $('.myImg').click(function () {
            var src = $(this).attr('src');
            $('#full-screen img').attr('src', src);
            $('#full-screen').fadeIn();
        });
        $('#full-screen').click(function () {
            $(this).fadeOut();
        });
    </script>
}