@model AnisMasterpieces.Web.ViewModels.Category.CategoryNameAndTabNameViewModel
@{
    ViewData["Title"] = Model.Name;
}

<h1>@Model.Name</h1>
@foreach (var tab in Model.Tabs)
{
    <h3>@tab.Id</h3>
    <h4>@tab.Name</h4>
}


