@model AnisMasterpieces.Web.ViewModels.Categories.CategoryNameAndTabNameViewModel
@{
    ViewData["Title"] = Model.Name;
}

<h1>@Model.Name</h1>
@foreach (var tab in Model.Tabs)
{
    <a asp-controller="Tabs" asp-action="Id" asp-route-id=@tab.Id>
        <i class="fas fa-exclamation-triangle"></i>
        @tab.Name
    </a>
}


