@model AnisMasterpieces.Web.ViewModels.Categories.CategoryCollectionOfIdAndNameViewModel
@using AnisMasterpieces.Services;
@{
    ViewData["Title"] = "Категории";
}

<h1>Категории</h1>

@foreach (var category in Model.Categories)
{
    <a asp-controller="Categories" asp-action="Id" asp-route-id=@category.Id asp-route-title="@ConvertService.CyrillicToLatin(category.Name, true)">
        <h4>@category.Name</h4>
    </a>
}
