
@{
    ViewData["Title"] = "Профил";
}

<h1>Профил</h1>
<div>
    <hr />
    <div class="oneline-flex">
        <div class="settings-div">
            <ul>
                <li><a asp-action="Manage" asp-controller="Account" asp-area="Identity">Настройки</a></li>
                <li><a asp-controller="Cart">Количка</a></li>
                <li><a asp-action="History" asp-controller="Purchase">Покупки</a></li>
            </ul>
        </div>
        <div>
            <h1>TestBrat</h1>
        </div>
    </div>
</div>