@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul>
    <li><a asp-page="./Index">Профил</a></li>
    <li><a asp-page="./Email">Поща</a></li>
    <li><a asp-page="./ChangePassword">Смени парола</a></li>
    @if (hasExternalLogins)
    {
        <li><a asp-page="./ExternalLogins">Други устроиства за вход</a></li>
    }
    @*<li><a asp-page="./TwoFactorAuthentication" disabled>Дву-факторова защита (2fa)</a></li>*@
    <li><a asp-page="./PersonalData">Лична ифнормация</a></li>
</ul>
