@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Error") ? "error" : "success";
    <div class="alert @statusMessageClass" role="alert">
        @Model
    </div>
}