@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Изтрии акаунт";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="alert warning" role="alert">
    <p>
        <strong>Няма да можете да си върнете акаунта!</strong>
    </p>
</div>

<div>
    <form id="delete-user" method="post">
        <div asp-validation-summary="All"></div>
        @if (Model.RequirePassword)
        {
            <div>
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password"/>
                <span asp-validation-for="Input.Password"></span>
            </div>
        }
        <button class="form-button" type="submit">Изтриване на акаунта</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}