@page
@model EmailModel
@{
    ViewData["Title"] = "Настройки на поща";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div>
    <div>
        <form id="email-form" method="post">
            <div asp-validation-summary="All"></div>
            <div>
                <label asp-for="Email">Поща</label>
                @if (Model.IsEmailConfirmed)
                {
                    <div>
                        <input asp-for="Email" disabled />
                    </div>
                }
                 else
                {
                    <input asp-for="Email" disabled />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="form-button">Изпрати за потвърждаване</button>
                }
            </div>
            <div>
                <label asp-for="Input.NewEmail"></label>
                <input asp-for="Input.NewEmail"/>
                <span asp-validation-for="Input.NewEmail"></span>
            </div>
            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="form-button">Смени пощата</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
