@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Персонална информация";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div>
    <div>
        <p>Акаунта ви садържа персонална информация, която сте предоставили. От тука можете да изтеглите или да изтриете тази инфромация.</p>
        <p>
            <strong>Това ще изтрие вашия профил и няма да можете да си го върнете.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="form-button" type="submit">Изтегли</button>
        </form>
        <p>
            <a id="delete" class="form-button" asp-page="DeletePersonalData">Изтрий</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}