@model LotusCatering.Web.ViewModels.NavBar.NavBarViewModel
@using LotusCatering.Services;

@foreach (var category in Model.Categories)
{
    <li>
        <a asp-area=@null asp-controller="Categories" asp-action="Id" asp-route-id=@category.Id asp-route-title="@ConvertService.CyrillicToLatin(category.Name, true)">
            <i class="fas fa-utensils"></i>
            @category.Name
        </a>
    </li>
}

@foreach (var gallery in Model.Galleries)
{
    <li>
        <a asp-area=@null asp-controller="Galleries" asp-action="Id" asp-route-id=@gallery.Id asp-route-title="@ConvertService.CyrillicToLatin(gallery.Name, true)">
            <i class="fas fa-images"></i>
            @gallery.Name
        </a>
    </li>
}

<li>
    <a asp-area=@null asp-controller="Contacts" asp-action="Index">
        <i class="far fa-address-card"></i> 
        Контакти
    </a>
</li>