@model LotusCatering.Web.ViewModels.Galleries.GalleryIdViewModel
@using LotusCatering.Common
@{
    ViewData["Title"] = "Галерия";
}

<div class="center-align">
    <h1>Галерия</h1>
    <hr />
    <div id="main-images">
        @foreach (var image in Model.Images)
        {
            <img src="@string.Format(GlobalConstants.CloudUrlTemplate, image.ImageUrl)" alt="@image.Name" class="myImg" />
        }
        @if (this.User.IsInRole("Administrator"))
        {
            <a asp-area="Administration" asp-controller="Images" asp-action="Add" asp-route-id="@Model.Id">
                <img src="~/images/plus.png">
            </a>
        }
    </div>

    <div id="full-screen">
        <img src="" alt="" />
    </div>
</div>

@section scripts {
    <script>
        $('#full-screen').css('height', $(document).outerWidth() + 'px');

        $('.myImg').click(function () {
            var src = $(this).attr('src');
            $('#full-screen img').attr('src', src);
            $('#full-screen').fadeIn();
        });
        $('#full-screen').click(function () {
            $(this).fadeOut();
        });
    </script>
}