@page
@model RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}

<div>
    <section class="form">
        <form class="register-form" method="post">
            <hr />
            <h2>Създай нов акаунт.</h2>
            <hr />
            <div asp-validation-summary="All"></div>
            <div>
                <input asp-for="Input.Email" placeholder="Поща" />
                <span asp-validation-for="Input.Email"></span>
            </div>
            <div>
                <input asp-for="Input.Password" class="form-control" placeholder="Парола" />
                <span asp-validation-for="Input.Password"></span>
            </div>
            <div>
                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Повтори Парола" />
                <span asp-validation-for="Input.ConfirmPassword"></span>
            </div>
            <div>
                <button type="submit">Регистрация</button>
            </div>
            <div>
                <p>
                    <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Имате вече акаунт?</a>
                </p>
            </div>
        </form>
    </section>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
